{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "selector-list-comma-newline-after": "always-multi-line",
    "block-no-empty": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "property-no-unknown": null,
    "declaration-property-value-blacklist": {
      "font-size": ["/\\d+px/"],
      "line-height": ["/\\d+px/"]
    },
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
